body {
    color: black;
    font-family: "Consolas";
    position: relative;
}

.container, .body-content, .content, #MainContent {
    margin: 0;
    padding: 0;
}
/* reseting margins */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* NAVIGATION + FOOTER */

#logo {
    max-width: 150px;
}

.navbar {
    background-color: black !important;
}

.navbar-nav li a:hover, .navbar-nav > .active > a {
    background-color: transparent !important;
    background-image: none !important;
    font-style: italic;
}

/* left nav bar on large screens only */
@media only screen and (min-width: 768px) {
    #sidebar {
        min-width: 200px;
        max-width: 200px;
        height: 100vh;
    }

    .screen {
        min-height: 100vh;
        max-height: 100vh;
        overflow: hidden;
    }

    .content {
        position: absolute;
        right: 0;
        width: auto;
        left: 200px;
    }
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #353748;
    padding-left: 10px;
}

/* SCREEN + CONTENT LAYOUT */

.content {
}

.title-img {
    width: 90%;
}

@media only screen and (max-width: 768px) {
    .title-img {
        width: 50%;
    }

    .display-img {
        margin-top: 10px !important;
    }
}

.project-desc {
    width: 80%;
}

.container-words {
    padding: 20px;
}

.container-img {
    text-align: center;
}

.display-img {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}


@media only screen and (max-width: 768px) {
    .display-img {
        width: 70%;
    }
}

.link {
    color: blueviolet;
    font-style: italic;
    font-size: larger;
}

a:hover {
    color: #3A006F;
    text-decoration: none;
}

/*
.description {
    margin: 10px;
    width: 50%;
}


@media only screen and (max-width: 768px) {
    .title-img {
        margin: 10px;
        width: 70%;
    }

}
    */

.screen {
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* about page */
#screen-about {
    color: #1b1b1b;
    text-align: center;
}

    #screen-about img {
        border-radius: 50%;
        width: 300px;
    }

.highlight-text {
    width: 500px;
    margin: auto;
    text-shadow: 2px 2px lightgrey;
}

.highlight-text {
    width: 500px;
    margin: auto;
    text-shadow: 2px 2px lightgrey;
}

.screen:nth-child(odd) {
    background-color: white;
}

.screen:nth-child(even) {
    background-color: lightgray;
}



#screen1 {
    background-image: url('../Images/bg1.jpg');
    background-size: cover;
}



#screen2 {
    background-image: url('../Images/bg2.jpg');
    background-size: cover;
}


#screen3 {
    background-image: url('../Images/bg6.jpg');
    background-size: cover;
}

#screen4 {
    background-image: url('../Images/bg7.jpg');
    background-size: cover;
}

#screen5 {
    background-image: url('../Images/bg4.jpg');
    background-size: cover;
}

#screen6 {
    background-image: url('../Images/bg5.jpg');
    background-size: cover;
}

#screen7 {
    background-image: url('../Images/bg3.jpg');
    background-size: cover;
}


